# keys
Ari_accessKeys.csv
huggingface-token.txt

# folders
.venv
Llama-3.2-1B-Instruct
Dockerfiles
app_files
keys
#container_checks
llama_model_hf

# files
*.safetensors
*.pth
*.model
*.ipynb
*.pyc
*.pkl
*.pth
*.pt
*.zip
*.tar.gz
*.whl

# other
__pycache__/
.DS_Store
.env
.venv/
.git/
.cache/